.colorpicker{
	z-index: 9999999!important;
}
.paneltool .buttons-group button{
	font-size:11px !important;
	font-family:arial!important;
	padding:8px 12px;
	font-weight:bold;
}
.paneltool input, .paneltool select, .paneltool label {
	font-size: 11px;
 	padding: 3px 4px;
 	display: inline-block;
 	font-family:arial!important;

}
.paneltool input,
.paneltool select {
	width: 120px;
	border:solid 1px #f3f3f3;

}
.paneltool .clear-bg span {
	font-size: 15px;
	margin-left: 5px;
}
.buttons-group{
	padding: 6px 12px;
}
.pts-paneltool{
	position: fixed;
	top: 0px;
	transition:all 0.6s;

	-webkit-box-shadow: 1px -1px 3px #888888;
	box-shadow: 1px -1px 3px #888888;
	z-index: 9999;
	width: 320px;
	height: 100%;
	background: #FFF;
	left: -320px;
	font-size: 11px;

}
.pts-paneltool > .paneltool{
	position: relative;
	clear: both;
	height: 100%;
	overflow-y:auto;
	overflow-x:hidden;
}

 

 
 .paneltool label{
 	width: 120px;
 	font-size: 11px;
 	font-family:arial!important;
 }

.pts-paneltool.active{
	left: 0;
	z-index: 999999
}

.paneltool.active .panelbutton{
	color: red
}
.paneltool.themetool{

}
 

 .paneltool .panel-group .panel-heading{
 	padding: 4px 5px;
 }
 .paneltool .panel-title{
 	font-size: 11px;
 	padding: 2px 12px;
 	font-weight: bold;
 }

  

.pts-customize {
 	.bi-wrapper > div{
		float: left;
		width: 25px;
		height: 25px;
		margin: 5px 6px;
		border: solid 1px #999;
		cursor:hand; cursor:pointer;
		&.active{
			border-color:red;
		}
	}
	.nav-tabs{
		background:#5f6873;
		text-align: center;
		border-bottom:solid 3px #FFF;
		li{
			float: none;
			display: inline-block;
			a{
				background:#95a0a8;
				color: #3d3d3d !important;
				font-family:arial!important;
				border:none;
				padding:6px 8px; 
				text-transform: uppercase;
				&.active{
					background: #FFF !important;						
				}
			}
		}
	}
	.tab-content {
		padding: 15px;
	}
}

/***/

#customize-form .nav-tabs{
	 	padding-top: 12px;
}
#customize-form .nav-tabs li{
	margin: 0;
	padding: 0!important
}

#customize-form .nav-tabs > li > a{
	padding:5px 6px;
	font-size: 11px;
}
#custom-accordionelements .panel,
#custom-accordionselectors .panel{
	margin-bottom: 5px;
}
/***/

.themecollection { 
	&.row {
		margin-left: 0!important;
		margin-right: 0!important;
	}
	> div { 
		padding-left: 5px;
		padding-right: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
		> div{
			background: #FFF;
			border: solid 2px #CCC;
			float: left;
		}
	}

}
.themecollection > div.active > div{
	border-color:#d9534f;
}
#panethemesettingfrm .pts-paneltitle {
	font-size: 16px;
	margin-bottom: 10px;
}


.pts-panelbutton{
	border:solid 1px #152c25;
	 background: #152c25;
	color: #FFF;
    padding: 16px 20px;
    position: absolute;
    right: -51px;
    top: 30%;
    border-left: none;
    cursor: hand; cursor: pointer;
     -webkit-box-shadow: 2px -1px 2px #888888;
      box-shadow: 2px -1px 2px #152c25;

}
/**
 *
 */
 
/**
 *
 */
.themechanger{
	.pts-panelbutton{
		top: 36%;
		background:#d9534f;
		border-color:#d9534f;
	}
}
/**
 *
 */
#pts-paneltool{
	.pts-panelbutton{
		border:solid 1px #152c25;
		 background: #152c25;
		color: #FFF;
	    padding: 16px 20px;
	    position: absolute;
	    right: -51px;
	    top: 25%;
	    border-left: none;
	    cursor: hand; cursor: pointer;
	     -webkit-box-shadow: 2px -1px 2px #888888;
	      box-shadow: 2px -1px 2px #152c25;

	}

	.pts-customize-title{
		background:rgba(42, 58, 71, 0.75);
		font-weight: bold;
		padding:12px 12px;
		color:#f3f3f3;
		font-size: 11px;
		text-transform: uppercase;
		text-shadow: none
	}
	background:#5f6873;
	left:-321px;
	&.active{
		left: 0;
		.pts-panelbutton{
			border:solid 1px #FFF;
			background: #FFF;
			color: #152c25;
		}
	}
	.nav-tabs{
		background:#5f6873;
		text-align: center;
		border-bottom:solid 3px #FFF;
		li{
			float: none;
			display: inline-block;
			a{
				background:#95a0a8;
				color: #3d3d3d !important;
				font-family:arial!important;
				border:none;
				padding:6px 8px; 
				text-transform: uppercase;
				&.active{
					background: #FFF !important;
					
			
				}
			}
		}
	}

	.card{
		margin-bottom: 0;
		border:none;

	}
	.p-card-header{
		font-weight: bold;
		background:#5f6873;
		padding:10px 20px;
		border-radius:none;
		a{ 
			color: #FFF!important; 
			font-family:arial!important;
		}
		transition: all 0.5s ease;
		border-bottom:solid 1px #68717c;
		&:hover{
			background:#95a0a8;
			 transition: all 0.5s ease;
		}
	}
	.card-block{
		background:#FFF;
	}
 
}
.editortool-title {
	background: #374652;
	font-weight: bold;
	padding: 15px;
	color:#f3f3f3;
	font-size: 11px;
	text-transform: uppercase;
	text-shadow: none;
	margin-bottom: 0;
}
.profiles-selectors{
	padding:5px 12px;
	min-height:30px;
 	color:#000;		
	.profile-item{
		display: none;
		width:100%;
		position:relative;
		height: 30px;
		background:#FFF;
		margin-bottom: 1px;
		border:solid 3px #3d3d3d;
		cursor: pointer; cursor:hand;
		&:hover, &.active{
			border-color:#FFF;
		}
		&.active{
			display: block;
		}
		> div{
			width: 30px;
			height:100%;
			float: left;
			color:#3d3d3d; 
			
		}
		clear: both;
		.profile-name{
		 	float: right;
	 		line-height: 29px;
			width: auto;
			padding-left:12px;
			padding-right:12px;
			position:absolute;
			right: 0;
			background:#FFF;
			font-family: arial!important;
		}
	}
	&:hover .profile-item{
		display: block;
	}
}