

.parallax {
  @include parallax();
}

.product-block {
  .left-block {
    position: relative;
    overflow: hidden;
  }
  @media(min-width: $screen-sm-max) {
    &:hover {
      &.swap-gallery {
          .product-zoom {
            margin: -10px -40px -0 0;
          }
          .thumbs-wrap {
              left: -90px;
              @include opacity(1);
          }
      }
    }
  }
}


.style1 {
  .product-block.swap-image {
    .image {
      /*swap image*/
      .img {
        position: relative;
        @include transition (all 0.4s ease-in-out);
        visibility: visible;
        display: block;
      }
      .hover-image {
          position: absolute;
          padding:0;
          text-align: center;
          top: 0;
          width: 100%;
          left: 100%;
          @include transition (all 0.4s ease-in-out);
          visibility: hidden;
      }
    }
    @media(min-width: $screen-sm-max) {
      &:hover {
        .img {
          transform: translate(-100%, 0px);
          visibility: hidden;
        }
        .hover-image {
          left: 0;            
          visibility: visible;
        }
      }
    }
  }
}


//image


//  effect */
@media (min-width: $screen-sm) {
  .widget-images {
    .pts-popup.fancybox {
      &:before{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        @include size(40px,40px);
        line-height: 40px;
        color: #000;
        background: #fff;
        text-align: center;
        @include border-radius(50%);
        margin: auto;
        z-index: 100;
        //@include scale(0);
        @include transition(all 0.3s ease);
        @include opacity(0);
        visibility: visible;
      }
    }
    
    &:hover {
      .pts-popup.fancybox {
        &:before{
          visibility: visible;
          @include opacity(1);
          //@include scale(1);
          &:hover {
            background-color: $theme-color;
            color: #fff;
          }
        }
        
      }
    }
  }

  // effect-v2*/
  .effect-v1 {
    .img-animation {
      display: block;
      overflow: hidden;
      position: relative;
      &:before {
        background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
        content: "";
        display: inline-block;
        height: 559px;
        position: absolute;
        right: 755px;
        top: 0;
        -webkit-transform: skew(-45deg);
        -moz-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
        -o-transform: skew(-45deg);
        transform: skew(-45deg);
        @include transition(all 0.6s ease-in-out 0s);
        width: 600px;
      }

      // style for hover */
      &:hover{
        &:before {  
            right: -755px;
        }
      }
    }
  }  
  // effect-v2*/
  .effect-v2{
    .img-animation {
      display: block;
      overflow: hidden;
      position: relative;
      &:before {
          bottom: 0;
          content: "";
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          @include size(100%,100%);
          background-color: rgba(0,0,0,0.05);
          @include transition( all 0.35s ease-in-out 0s);
          z-index: 1;
      }      
      &:after {
          bottom: 0;
          content: "";
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          @include size(100%,100%);
          background-color: rgba(0,0,0,0.05);
          @include transition( all 0.35s ease-in-out 0s);
          z-index: 1;
      }

      // style for hover */
      &:hover{
        &:before {  
            top: 100%;
            left: 100%;
            bottom: -100%;
            right: -100%;
        }        
        &:after {  
            bottom: 100%;
            top: -100%;
            left: -100%;
            right: 100%;
        }
      }
    }
  }


  // effect-v3*/
  .effect-v3{ 
    .img-animation {
      display: block;
      overflow: hidden;
      position: relative;
      &:before,&:after {
        bottom: 20px;
          content: "";
          left: 20px;
          @include opacity (0);
          position: absolute;
          right: 20px;
          top: 20px;
          @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
          z-index: 1;
      }
      &:before {
          border-bottom: 1px solid #ffffff;
          border-top: 1px solid #ffffff;
          //@include scale(0, 1);
      }
      &:after {
          border-left: 1px solid #ffffff;
          border-right: 1px solid #ffffff;
          //@include scale(1, 0);
      }
      img {
        @include opacity(1);
        @include transition (opacity 0.35s ease 0s);
      }
      .banner-title{
          //@include translate3d(0px, -20px, 0px);
          @include transition (transform 0.35s ease 0s);
      }
      .action{
          @include opacity(0);
          //@include translate3d(0px, 40px, 0px);
          @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
      }
      
      // style for hover */
      &:hover{
        &:before,
        &:after { 
            @include opacity(1);
              //@include scale(1);
        }
        .banner-title,.action{
            @include opacity(1);
              //@include translate3d(0px, 0px, 0px);
          }
      }
    }
  }

  // effect-v4*/
  .effect-v4{ 
    .img-animation {
      display: block;
      overflow: hidden;
      position: relative;
      &:before {
          border: 1px solid #ffffff;
          bottom: 30px;
          //@include box-shadow(0 0 0 30px rgba(0, 0, 0, 0.05));
          content: "";
          left: 30px;
          @include opacity (0);
          position: absolute;
          right: 30px;
          top: 30px;
          //@include scale(1.4);
          @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
          z-index: 1;
      }
      img {
          @include transition (all 0.35s ease 0s);
      }
      .banner-title{
          //@include scale(1);
            @include transition (transform 0.35s ease 0s);
        }

      
      // style for hover */
      &:hover{
        &:before {  
            @include opacity(1);
              //@include scale(1);
        }
        img {
          @include transition (all 0.35s ease 0s);
        }
        .banner-title{        
              //@include scale(0.9);
          }
      }
    }
  }


  // effect-v5*/
  .effect-v5 { 
    .img-animation {
      display: block;
      overflow: hidden;
      position: relative;
      &:before {
          border: 1px solid #ffffff;
          bottom: 10px;
          content: "";
          left: 10px;
          @include opacity(0);
          //@include scale(1.4);
          position: absolute;
          right: 10px;
          top: 10px;
          @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
          z-index: 1;
      }
      &:after {
          bottom: 10px;
          //@include box-shadow(0 0 0 10px rgba(206, 209, 218, 0.3));
          content: "";
          left: 10px;
          @include opacity(1);
          //@include scale(1);
          position: absolute;
          right: 10px;
          top: 10px;
          @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
          z-index: 1;
      }
      img {
          @include transition (all 0.35s ease 0s);
      }
      // style for hover */
      &:hover{
        &:before {  
            @include opacity(1);
            //@include scale(1);
        }
      }
    }
  }
  // effect-v6*/
  .effect-v6{ 
    .img-animation {
      display: block;
      overflow: hidden;
      position: relative; 
      
      img {
        //@include scale(1,1);
        @include transition (all 0.35s ease 0s);
      }
      // style for hover */
      &:hover{
        img {
          //@include scale(1.1,1.1);
        }
      }
    }
  }

  // effect-v7*/
  .effect-v7 { 
    .img-animation {
      display: block;
      overflow: hidden;
      position: relative;
      &:before {
          bottom: 0;
          content: "";
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          @include transition(all 0.4s cubic-bezier(0.94, 0.85, 0.1, 0.62) 0s);
          z-index: 1;
          border: 150px double rgba(0, 0, 0, 0.1);
          @include opacity(1);
          visibility: visible;
      }
      
      // style for hover */
      &:hover{
        &:before {  
            @include opacity(0);
            border: 0 double rgba(255, 255, 255, 0.7);
            visibility: hidden;
        }
      }
    }
  }

  // effect-v8*/
  .effect-v8 { 
    .img-animation {
      display: block;
      overflow: hidden;
      position: relative;
      &:before {
         border-bottom: 50px solid rgba(255, 255, 255, 0.4);
          border-top: 50px solid rgba(255, 255, 255, 0.4);
          content: "";
          height: 100%;
          left: 0;
          @include opacity(0);
          position: absolute;
          top: 0;
          transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
          -o-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
          -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
          -moz-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
          -ms-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
          @include transition (all 0.35s ease-in-out 0s);
          transform-origin: 50% 50% 0;
          width: 100%;

      }
      
      // style for hover */
      &:hover{
        &:before {  
             @include opacity(1);
                 transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
                 -o-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
            -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
            -moz-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
            -ms-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
        }
      }
    }
  }

  // effect-v9*/
  .effect-v9 { 
    .img-animation {
      display: block;
      overflow: hidden;
      position: relative;
      &:before {
          border: 50px solid rgba(0, 0, 0, 0.07);
          @include border-radius (50%);
          box-sizing: border-box;
          cursor: pointer;
          display: inline-block;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          position: absolute;
          top: 0;
          content: "";
          @include opacity (1);
          @include size(100px, 100px);
          //@include scale(7);
          @include transition (all 0.7s ease-in-out 0s);
          visibility: visible;
          z-index: 1;
      }
      
      // style for hover */
      &:hover{
        &:before {  
            border-width: 0;
            @include opacity (0);
            visibility: hidden;
        }
      }
    }
  }

  // effect-v10*/
  .effect-v10 {  
    .img-animation {
      display: block;
      overflow: hidden;
      position: relative;
      &:before {      
          background-color: rgba(255, 255, 255, 0.2);
          display: block;
          @include size(100%, 100%);
          left: -100%;
          @include opacity (0);
          position: absolute;
          top: 0;
          @include transition (all 0.3s ease 0s);
          content: "";
          z-index: 1;
      }
      
      // style for hover */
      &:hover{
        &:before {  
          left: 0;
              @include opacity (1);
        }
      }
    }
  }

}
  //product
    .grid {
      .product-miniature {
        // .product-thumbnail {
        //   &:before {
        //     background-color: rgba(0,0,0,0.3);
        //     bottom: inherit;
        //     content: "";
        //     height: 100%;
        //     left: 0;
        //     margin: auto;
        //     @include opacity(0);
        //     position: absolute;
        //     top: 0;
        //     @include transition(all 0.3s ease-in-out 0s);
        //     width: 100%;
        //     z-index: 90;
        //   }
        // }
        .product-list-actions {
          position: absolute;
          top: 15%;
          @include rtl-right(rem(10px));
          margin: auto;
          height: 40px;
          text-align: center;
          @include media-breakpoint-up(lg) {
            @include rtl-right(rem(-10px));
          }
          .add-to-cart{
            background-color: $theme-color;
            .btn{
              color: #fff;
              height: em(40px);
              width: em(35px);
              line-height: rem(40px);
              display: inline-block;
              background-color: transparent;
              font-size: inherit;
              padding: 0;
              &:focus{
                outline: none;
              }
            }
          }
          > a, .add-to-cart {
              display: inline-block;
              margin: auto;
              height: em(40px);
              width: em(40px);
              z-index: 98;
              display: block;
              text-align: center;
              color: $theme-color-primary;
              font-size: 14px;
              line-height: 3em;
              @include border-radius(50%);
              border: 2px solid $theme-color;
              position: relative;            
              @include transition(all 0.3s ease-out 0s);
              @include media-breakpoint-up(lg) {
                transform: scaleY(0);
              }
              &.quick-view{
                top: 20%;
                .material-icons{
                  font-size: 22px;
                }
              }

          }
          > a{
            background-color: rgba(255,255,255,0.7); 
          }
        }
        &:hover {
          .product-thumbnail {
            &:before {
              @include opacity(1);
            }
          }
          .product-list-actions {
            > a , .add-to-cart  {
              @include media-breakpoint-up(lg) {
                transform: scaleY(1);
              }
              
              &:hover{
                background-color: $theme-color-primary !important;
                color: #fff !important;
                border-color: $theme-color-primary !important;
                .btn{
                  color: #fff;
                }
              }
              // &.add-to-cart{
              //   &:hover{
              //     background-color: $theme-color-primary;
              //     border-color: $theme-color-primary;
              //   }
              // }
            }
          }
        }
      }
    }
