.space-padding-0{
	padding: 0 !important;
}
.space-padding-10 {
	padding: 10px !important;
}
.space-padding-20 {
	padding: 20px !important;
}
.space-padding-30 {
	padding: 30px !important;
}
.space-padding-40 {
	padding: 40px !important;
}
.space-padding-50 {
	padding: 50px !important;
}

/*Padding Top & Bottom*/
.space-padding-tb-10 {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.space-padding-tb-20 {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.space-padding-tb-30 {
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}
.space-padding-tb-40 {
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}
.space-padding-tb-50 {
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}
.space-padding-tb-60{
	padding-top: 60px !important;
	padding-bottom: 60px !important;
}
.space-padding-tb-70{
	padding-top: 70px !important;
	padding-bottom: 70px !important;
}
.space-padding-tb-80{
	padding-top: 80px !important;
	padding-bottom: 80px !important;
}

.space-padding-tb-100{
	padding-top: 100px !important;
	padding-bottom: 100px !important;
}

.space-padding-tb-120{
	padding-top: 120px !important;
	padding-bottom: 120px !important;
}

.space-padding-top-10 {
	padding-top: 10px !important;
}
.space-padding-top-20 {
	padding-top: 20px !important;
}
.space-padding-top-30 {
	padding-top: 30px !important;
}
.space-padding-top-40 {
	padding-top: 40px !important;
}
.space-padding-top-50 {
	padding-top: 50px !important;
}
.space-padding-top-60 {
    padding-top: 60px !important;
}
.space-padding-top-70 {
    padding-top: 70px !important;
}
.space-padding-top-80 {
    padding-top: 80px !important;
}
.space-padding-bottom-10 {
	padding-bottom: 10px !important;
}
.space-padding-bottom-20 {
	padding-bottom: 20px !important;
}
.space-padding-bottom-30 {
	padding-bottom: 30px !important;
}
.space-padding-bottom-40 {
	padding-bottom: 40px !important;
}
.space-padding-bottom-50 {
	padding-bottom: 50px !important;
}

/*Padding Left & Right*/
.space-padding-lr-10 {
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.space-padding-lr-20 {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.space-padding-lr-30 {
	padding-left: 30px !important;
	padding-right: 30px !important;
}
.space-padding-lr-40 {
	padding-left: 40px !important;
	padding-right: 40px !important;
}
.space-padding-lr-50 {
	padding-left: 50px !important;
	padding-right: 50px !important;
}
.space-padding-lr-80 {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

/*Space
------------------------------------*/
/*Margin Top*/
.space-top-5  {margin-top: 5px !important;}
.space-top-10 {margin-top: 10px !important;} 
.space-top-15 {margin-top: 15px !important;}
.space-top-20 {margin-top: 20px !important;}
.space-top-25 {margin-top: 25px !important;}
.space-top-30 {margin-top: 30px !important;}
.space-top-35 {margin-top: 35px !important;}
.space-top-40 {margin-top: 40px !important;}
.space-top-45 {margin-top: 45px !important;}
.space-top-50 {margin-top: 50px !important;}
.space-top-60 {margin-top: 60px !important;}
.space-top-70 {margin-top: 70px !important;}
.space-top-80 {margin-top: 80px !important;}

.space-top-220 {margin-top: 220px !important;}
@media(min-width:$screen-md){
    .space-top-95 {margin-top: 95px !important;}
}

/*Margin Top Negative*/
.space-top-n-100 {margin-top: -100px !important;}

/*Margin Bottom*/
.space-0  {margin-bottom: 0 !important;}
.space-5  {margin-bottom: 5px !important;}
.space-10 {margin-bottom: 10px !important;} 
.space-15 {margin-bottom: 15px !important;}
.space-20 {margin-bottom: 20px !important;}
.space-25 {margin-bottom: 25px !important;}
.space-30 {margin-bottom: 30px !important;}
.space-35 {margin-bottom: 35px !important;}
.space-40 {margin-bottom: 40px !important;}
.space-45 {margin-bottom: 45px !important;}
.space-50 {margin-bottom: 50px !important;}
.space-55 {margin-bottom: 55px !important;}
.space-60 {margin-bottom: 60px !important;}
.space-65 {margin-bottom: 65px !important;}
.space-70 {margin-bottom: 70px !important;}
.space-75 {margin-bottom: 75px !important;}
.space-80 {margin-bottom: 80px !important;}
.space-85 {margin-bottom: 85px !important;}
.space-90 {margin-bottom: 90px !important;}
.space-95 {margin-bottom: 95px !important;}
.space-100 {margin-bottom: 100px !important;}
.space-120 {margin-bottom: 100px !important;}

.space-margin-tb-80{
    margin-bottom: 80px !important;
    margin-top: 80px !important;
}

/*Margin left right*/
.space-margin-lr-60 {
    margin-left: 60px !important;
    margin-right: 60px !important;
}
.space-margin-lr-20{
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.space-margin-lr-35{
    margin-left: 35px !important;
    margin-right: 35px !important;
}

/*Margin Left*/
.space-left-5  {margin-left: 5px !important;}
.space-left-10 {@include rtl-margin-left(10px !important);} 
.space-left-15 {margin-left: 15px !important;}

/*Removes space*/
.space-top-0 {
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.space-bottom-30{
	.block{
		margin-bottom: rem(30px) !important;
	}
}

.space-bottom-0 {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.nopadding {
  @include nopadding();
}
.no-space-row {
	.row{
		margin: 0;
	}
}
.space-bottom{
	margin-bottom: rem(30px) !important;
	@include media-breakpoint-up(lg){
        margin-bottom: rem(120px) !important;
    }
}
.text-align-right{
	@include media-breakpoint-up(md){
		@include rtl-text-align-right;
	}
}
.text-align-center{
	text-align: center !important;
}
.hide, .hidden{
	display: none !important;
}
.no-space-row [class^="col-"],
.no-space-row [class*="col-"] {
	padding: 0;
}

 .owl-wrapper .owl-item {
		//margin: 15px 0;
	}
// .owl-carousel.grid {
// 	margin-top: -15px;
// }
.owl-carousel-play {
	margin-left: -$grid-gutter-width-base/2;
	margin-right: -$grid-gutter-width-base/2;
	position: relative;
	.item {
		padding-left: $grid-gutter-width-base/2;
		padding-right: $grid-gutter-width-base/2;
	}

	> .carousel-controls {
		top: -55px;
		@include rtl-right($grid-gutter-width-base/2);
		width: 65px;
		position: absolute;
		.carousel-control {
			span{
				@include opacity(1);
				@include size(rem(30px), rem(30px));
				line-height: rem(26px);
				@include border-radius(50%);
				border: 1px solid $theme-color-secondary;
				margin-top: 0;
				font-size: 16px;
				color: $theme-color-secondary;
				text-align: center;
				@include transition(0.3s all ease-out 0s);
				&:hover{
					border-color: $theme-color-primary;
					
					color: $theme-color-primary;
				}
			}
				
		    &.left {
		      left: 15px;
		      .icon:before {
		      	//content: "\f0a8";
		      }
		    }
		    &.right {
		      right: 0;
		      .icon:before {
		      	//content: "\f0a9";
		      }
		    }
		}
	}
	&:focus,
	&:hover {
	> .carousel-controls {
		.carousel-control {
	    &:focus,
	    &:hover {
	    	color: #222;
    		z-index: 98;
	    }
		}
	 }
	}
}

//social

.bo-social-icons {
	i{
		color:#aab2bd;
	    display:inline-block;
	    @include size(40px,40px);
	    line-height: 40px;
	    overflow: hidden;
	    text-align: center;
	    text-decoration: none;
	    vertical-align: middle;
	    font-size: 14px;
	    border: 2px solid;
	    background-color: transparent;
	    @include border-radius (50%);
	    @include transition (all 0.3s ease-out 0s);
	    &:after{
            @include background-radial( rgba(0, 0, 0, 0.35), 0%, rgba(0, 0, 0, 0), 80%);
            background-color: transparent;
            content: "";
            @include size(90%, 10px);
            @include rtl-left(5%);
            @include opacity(0);
            position: absolute;
            top: 100%;
            @include transition(0.3s all ease-out 0s);
        }
	    &:hover{
	    	background-color: $theme-color;
	    	border-color: $theme-color;
	    	//border-color: $theme-color;
	    	color:#FFFFFF;
	    	@include translateY(-5px);
            &:after{
                @include opacity(1);
                @include translateY(5px);
            }
	    }
	    em,i {
			font-size: 16px;
		    position: relative;
			top: 2px;
		}
	}
	&.bo-social-plain [class^="bo-social-"] {
		background-color: transparent;
		color: #000;
		padding: 0 15px!important;
		em,i{
			@include rtl-padding-right(5px);
			font-size: 24px;
		}
	}
	&.social-radius-rounded [class^="bo-social-"]{
		@include border-radius(50%);
		text-align:center;
		line-height: 40px;
		@include size (36px, 36px);
		padding: 0;
		
	}

  .bo-social-white{
      background: #FFFFFF;
      color: darken($border-color, 30%);
      border: 1px solid darken($border-color, 30%);

  }   
  .bo-social-outline{
      background: transparent;
      color: #000;
      border: 1px solid #000;
  }   
  .bo-social-outline-light{
      background: transparent;
      color: #FFF;
      border: 1px solid #FFFFFF;
      &:hover{
          background: #FFF;
          color: #000;
      }
  }
     
	.fontawesome-icon-list [class^="bo-social-"] {
  	padding: 0 15px;
  }
  
} 

.bo-social-twitter{background: #00bdec;} .bo-social-twitter:hover{background: #000000;}
.bo-social-dribbble{background: #ef5b92;} .bo-social-dribbble:hover{background: #000000;}
.bo-social-facebook{background: #3b5998;} .bo-social-facebook:hover{background: #000000;}
.bo-social-duckduckgo{background: #de3100;} .bo-social-duckduckgo:hover{background: #000000;}
.bo-social-aim{background: #158799;} .bo-social-aim:hover{background: #000000;}
.bo-social-delicious{background: #183864;} .bo-social-delicious:hover{background: #000000;}
.bo-social-paypal{background: #32689a;} .bo-social-paypal:hover{background: #000000;}
.bo-social-android{background: #8ab733;} .bo-social-android:hover{background: #000000;}
.bo-social-gplus{background: #d94a39;} .bo-social-gplus:hover{background: #000000;}
.bo-social-lanyrd{background: #3879ba;} .bo-social-lanyrd:hover{background: #000000;}
.bo-social-stumbleupon{background: #ea4b24;} .bo-social-stumbleupon:hover{background: #000000;}
.bo-social-fivehundredpx{background: #00a6e1;} .bo-social-fivehundredpx:hover{background: #000000;}
.bo-social-pinterest{background: #b8242a;} .bo-social-pinterest:hover{background: #000000;}
.bo-social-bitcoin{background: #f7931a;} .bo-social-bitcoin:hover{background: #000000;}
.bo-social-w3c{background: #005a9c;} .bo-social-w3c:hover{background: #000000;}
.bo-social-foursquare{background: #3bb7e8;} .bo-social-foursquare:hover{background: #000000;}
.bo-social-html5{background: #e44e26;} .bo-social-html5:hover{background: #000000;}
.bo-social-ie{background: #00ccff;} .bo-social-ie:hover{background: #000000;}
.bo-social-grooveshark{background: #f66f00;} .bo-social-grooveshark:hover{background: #000000;}
.bo-social-ninetyninedesigns{background: #ff5501;} .bo-social-ninetyninedesigns:hover{background: #000000;}
.bo-social-forrst{background: #223f17;} .bo-social-forrst:hover{background: #000000;}
.bo-social-spotify{background: #8fbd05;} .bo-social-spotify:hover{background: #000000;}
.bo-social-reddit{background: #ff4500;} .bo-social-reddit:hover{background: #000000;}
.bo-social-gowalla{background: #f6911d;} .bo-social-gowalla:hover{background: #000000;}
.bo-social-apple{background: #5f5f5f;} .bo-social-apple:hover{background: #000000;}
.bo-social-2ger{background: #fb9241;} .bo-social-blogger:hover{background: #000000;}
.bo-social-cc{background: #5e7c00;} .bo-social-cc:hover{background: #000000;}
.bo-social-evernote{background: #61b239;} .bo-social-evernote:hover{background: #000000;}
.bo-social-flickr{background: #ff0084;} .bo-social-flickr:hover{background: #000000;}
.bo-social-google{background: #d94a39;} .bo-social-google:hover{background: #000000;}
.bo-social-viadeo{background: #f5a433;} .bo-social-viadeo:hover{background: #000000;}
.bo-social-instapaper{background: #eaec08;} .bo-social-instapaper:hover{background: #000000;}
.bo-social-klout{background: #e34600;} .bo-social-klout:hover{background: #000000;}
.bo-social-linkedin{background: #1b92bd;} .bo-social-linkedin:hover{background: #000000;}
.bo-social-meetup{background: #e51938;} .bo-social-meetup:hover{background: #000000;}
.bo-social-vk{background: #587da4;} .bo-social-vk:hover{background: #000000;}
.bo-social-disqus{background: #2e9fff;} .bo-social-disqus:hover{background: #000000;}
.bo-social-rss{background: #ff7f00;} .bo-social-rss:hover{background: #000000;}
.bo-social-skype{background: #18b7f1;} .bo-social-skype:hover{background: #000000;}
.bo-social-youtube{background: #c4302b;} .bo-social-youtube:hover{background: #000000;}
.bo-social-vimeo{background: #01557a;} .bo-social-vimeo:hover{background: #000000;}
.bo-social-windows{background: #00ccff;} .bo-social-windows:hover{background: #000000;}
.bo-social-xing{background: #036567;} .bo-social-xing:hover{background: #000000;}
.bo-social-yahoo{background: #61399d;} .bo-social-yahoo:hover{background: #000000;}
.bo-social-chrome{background: #58b947;} .bo-social-chrome:hover{background: #000000;}
.bo-social-macstore{background: #6e6e6e;} .bo-social-macstore:hover{background: #000000;}
.bo-social-amazon{background: #ff9900;} .bo-social-amazon:hover{background: #000000;}
.bo-social-steam{background: #a5a4a1;} .bo-social-steam:hover{background: #000000;}
.bo-social-dropbox{background: #7ab6ec;} .bo-social-dropbox:hover{background: #000000;}
.bo-social-cloudapp{background: #489dde;} .bo-social-cloudapp:hover{background: #000000;}
.bo-social-ebay{background: #86b817;} .bo-social-ebay:hover{background: #000000;}
.bo-social-github{background: #667F8E;} .bo-social-github:hover{background: #000000;}
.bo-social-googleplay{background: #5befd0;} .bo-social-googleplay:hover{background: #000000;}
.bo-social-itunes{background: #177ac8;} .bo-social-itunes:hover{background: #000000;}
.bo-social-plurk{background: #a73d07;} .bo-social-plurk:hover{background: #000000;}
.bo-social-songkick{background: #f80046;} .bo-social-songkick:hover{background: #000000;}
.bo-social-lastfm{background: #c60e16;} .bo-social-lastfm:hover{background: #000000;}
.bo-social-gmail{background: #e04a3f;} .bo-social-gmail:hover{background: #000000;}
.bo-social-pinboard{background: #224cf4;} .bo-social-pinboard:hover{background: #000000;}
.bo-social-openid{background: #be661b;} .bo-social-openid:hover{background: #000000;}
.bo-social-quora{background: #c41a00;} .bo-social-quora:hover{background: #000000;}
.bo-social-soundcloud{background: #ff5c00;} .bo-social-soundcloud:hover{background: #000000;}
.bo-social-tumblr{background: #395874;} .bo-social-tumblr:hover{background: #000000;}
.bo-social-eventasaurus{background: #b9f15e;} .bo-social-eventasaurus:hover{background: #000000;}
.bo-social-wordpress{background: #464646;} .bo-social-wordpress:hover{background: #000000;}
.bo-social-yelp{background: #c41200;} .bo-social-yelp:hover{background: #000000;}
.bo-social-intensedebate{background: #00aeef;} .bo-social-intensedebate:hover{background: #000000;}
.bo-social-eventbrite{background: #ff6c00;} .bo-social-eventbrite:hover{background: #000000;}
.bo-social-scribd{background: #002939;} .bo-social-scribd:hover{background: #000000;}
.bo-social-posterous{background: #f8d667;} .bo-social-posterous:hover{background: #000000;}
.bo-social-stripe{background: #617ee8;} .bo-social-stripe:hover{background: #000000;}
.bo-social-opentable{background: #990000;} .bo-social-opentable:hover{background: #000000;}
.bo-social-instagram{background: #4c799f;} .bo-social-instagram:hover{background: #000000;}
.bo-social-dwolla{background: #ff7404;} .bo-social-dwolla:hover{background: #000000;}
.bo-social-appnet{background: #1e0c29;} .bo-social-appnet:hover{background: #000000;}
.bo-social-statusnet{background: #fb6104;} .bo-social-statusnet:hover{background: #000000;}
.bo-social-acrobat{background: #ff0000;} .bo-social-acrobat:hover{background: #000000;}
.bo-social-drupal{background: #007dc3;} .bo-social-drupal:hover{background: #000000;}
.bo-social-pocket{background: #ee4056;} .bo-social-pocket:hover{background: #000000;}
.bo-social-bitbucket{background: #205081;} .bo-social-bitbucket:hover{background: #000000;}
.bo-social-flattr{background: #fbbc23;} .bo-social-flattr:hover{background: #000000;}
.bo-social-eventful{background: #0066cc;} .bo-social-eventful:hover{background: #000000;}
.bo-social-smashmag{background: #d6231c;} .bo-social-smashmag:hover{background: #000000;}
.bo-social-wordpress{background: #1e8cbe;} .bo-social-wordpress:hover{background: #000000;}
.bo-social-calendar{background: #ff0000;} .bo-social-calendar:hover{background: #000000;}
.bo-social-call{background: #04be3d;} .bo-social-call:hover{background: #000000;}
.bo-social-guest{background: #03a9d2;} .bo-social-guest:hover{background: #000000;}
.bo-social-weibo{background: #fd0000;} .bo-social-weibo:hover{background: #000000;}
.bo-social-plancast{background: #e4b82c;} .bo-social-plancast:hover{background: #000000;}
.bo-social-email{background: blue} .bo-social-email:hover{background: #000000;}
.bo-social-myspace{background: #2068b0;} .bo-social-myspace:hover{background: #000000;}
.bo-social-podcast{background: #f38b36} .bo-social-podcast:hover{background: #000000;}
.bo-social-cart{background: #00a204;} .bo-social-cart:hover{background: #000000;}



//open-time

.opentime span {
  color: #fff;
}
.feature-box{
	margin-bottom: 0 !important;
	color: #fff;
	padding: rem(30px) 0;
	
	&.feature-box-left{
		@include rtl-text-align-left;
	}
	&.feature-box-right{
		@include rtl-text-align-right;
	}
	&.feature-box-center{
		text-align: center;
	}
	.fbox-image{
		margin-bottom: rem(14px);
		@include transition(all 0.5s ease-in-out 0s);
	}
	.fbox-icon{
		i{
			color: #fff;
			font-size: 9rem;
			margin-bottom: rem(14px);
		}
	}
	p{
		font-size: rem(14px);
	}
	span{
		font-size: rem(16px);
		font-family: $font-custom;
		text-transform: capitalize;
	}
	&:hover{
		.fbox-image, .fbox-icon i{
			@include scale(1.1);
			
		}
		
	}
}
//language currency
.language-selector{
	> span{
		text-transform: uppercase;
	}
}
//Page header
.page-header{
	text-align: center;
	h1{
		border-bottom: medium none;
	    color: $theme-color;
	    font: 600 rem(24px)/rem(30px) $font-custom;
	    letter-spacing: 0;
	    margin-bottom: rem(25px);
	    margin-top: 0;
	    padding: 0 0 5px;
	    position: relative;
	    text-transform: capitalize;
	    display: inline-block;
	    &:after{
	    	 background-color: $theme-color;
		    bottom: -5px;
		    content: " ";
		    @include size(rem(70px), rem(2px));
		    left: 50%;
		    margin-left: -(rem(35px));
		    position: absolute;
		    right: inherit;
	    }
	}
	&.content-header{
		h1{
			color: $theme-color-primary;
			&:after{
				background-color: $theme-color-primary;
			}
		}
	}
	
}
//Background Bagebilder Property 
.background-attr{
	background-attachment: scroll;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
// title sidebar
.title-sidebar{
    background-color: #434a54;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 20px;
    margin-bottom: 0;
    border: none;
  }
.widget-accordion{
	.panel{
		@include box-shadow-com(0 0px 0px rgba(0,0,0,.05) );
		border: $main-border;
		margin-bottom: rem(10px)
	}
	.panel-heading{
		padding: 15px;
		position: relative;
		background-color: #f5f5f5;
		text-transform: capitalize;
		.panel-title{
			margin: 0;
		}
		a {	
		 	text-decoration: none;
		 	font-weight: normal;
			&:before{
				content: "-";
	 		    font-size: 22px;
	 		    font-weight: 600;
	 		    @include size(20px, 20px);
	 		    text-align: center;
	 		    line-height: 15px;
	 		    display:  inline-block;
	 		    color: $black;
			}
		 	&.collapsed:before{
		 		content: "+";
	 		    font-size: 18px;
		 	}
		}	
	}
	.panel-body{
		border-top-color: transparent!important;
		padding: rem(15px);
	}
	
	&.collapse-right{
		.panel-heading{
			a:before{
				position: absolute;
				@include rtl-right(20px);
			}
		}
	}

	&.collapse-color{
		.panel-heading a{
			&:before{
			    color:#fff;
			    background:$bo-accordion-background;
			}
		}
	}
	&.noborder{
		.panel-heading{
			padding-left: 0;
			padding-right: 0;
		}
		.panel , .panel-heading, .panel-body{
			background-color:transparent;
			border:none;
		}
		
	}
	&.nobackground{
		.panel , .panel-heading, .panel-body{
			background-color:transparent;
		}
	}
}
//tab
#tabs {
    .nav-tabs {
    	margin-bottom:50px;
    	
       >  li {
       		display: inline-block;
       		float: none;
       		border:none;
            > a {
                border: 1px solid #ddd;
			    border-radius: 0;
			    font-weight: 800;
			    line-height: 1.625;
			    margin-right: -1px;
			    text-transform: uppercase;
			    background: #f9f9f9 none repeat scroll 0 0;
			    min-width: 200px;
			    text-align: center;
			    display: block;
			    padding: 15px 25px;
			    position: relative;
			    &.active{
			      color: $theme-color;
		         background: #fff;
			    }
            }
            &.active > a {
		    	&,
		      &:hover,
		      &:focus {
		        color: $theme-color;
		        background: #fff;
		      }
		    }
		    
		    &.active{
		       background: #fff;
		       color: $theme-color;
		    }
            
        }
    }   

}
.cms_parallax{
		    padding: 80px 0;
		    margin-top: 30px;
		    .item{
		    	margin: 24px 0 0 0;
		    	text-align: center;
		    	h3{
		    		color: #ffcf4e;
				    font-size: 42px;
				    font-weight: 700;
				    letter-spacing: 0;
				    margin: 0;
		    	}
		    	p{
		    		text-transform: uppercase;
		    		color: #fff;
		    		font-weight: 500;
		    	}
		    }
		}
#to_top{
	display: block;
	position: fixed;
	@include rtl-right(0);
	bottom: rem(50px);
	@include size(rem(40px), rem(40px));
	background-color: $theme-color;
	color: #fff !important;
	text-align: center;
	padding: rem(5px);
	z-index: 99;
	&:hover{
		background-color: $theme-color-primary;
	}
	span{
		@include size(100%, 100%);
		display: inline-block;
		line-height: rem(30px);
		border: 1px solid;
	}
}
.logo-store{
	padding: 25px 0;
	@include transition(0.3s all ease-out 0s);
}