@import "theme_variables";
.dropdown{
  
  &:hover .expand-more{
    color: $theme-color;
  }
  .expand-more{
    color: $gray-darker;
    cursor: pointer;
    @include user-select(none);

  }

  .active{
    max-height: 200px;
    overflow-y: hidden;

  }

  select {
    -moz-appearance: none;
    border: 0 none;
    outline: 0 none;
    color: $gray-darker;
    background: white;
  }
}

.dropdown-item:focus, .dropdown-item:hover {
  background: none;
  text-decoration: none;
  color: $theme-color;
}

