/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons for light style */
/* Variables icons outline */
/* Variables icons inverse */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 4 */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* --- SCSS For Typography --- */
/* panel */
#product {
  background-color: #fff;
}
#product .ps_breadcumb .breadcrumb li a {
  color: #fff;
}
#product .ps_breadcumb .breadcrumb li a:after {
  border-color: #fff;
}
#product .ps_breadcumb .breadcrumb li a:hover {
  color: #434a54;
}
#product #content {
  position: relative;
  margin: 0 auto;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.product-name-detail {
  font-size: 2.46154rem;
  text-transform: none;
  color: #434a54;
  font-weight: 500;
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e4e9ef;
}

.product-price {
  color: #293f85;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: "Abhaya Libre";
  font-size: 1.3rem;
}
.product-price > div {
  margin: 0;
}
.product-price .current-price > span {
  font-size: 2.76923rem;
  color: #fff;
  background-color: #00cb8f;
  position: relative;
  padding: 0 2px;
}
.product-price .current-price > span:before {
  position: absolute;
  width: 130%;
  height: 0.07692rem;
  background-color: #00cb8f;
  content: "";
  left: 0;
  bottom: 0;
}
.rtl .product-price .current-price > span:before {
  right: 0;
  left: auto;
}

.product-information .product-description-short, .product-information #product-description-short {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e9ef;
}
.product-information .product-description-short span.label, .product-information #product-description-short span.label {
  font-size: 1.23077rem;
  display: inline-block;
  width: 100%;
  margin-bottom: 0.76923rem;
  text-align: left;
}
.rtl .product-information .product-description-short span.label, .rtl .product-information #product-description-short span.label {
  text-align: right;
}
.product-information .product-description-short p, .product-information #product-description-short p {
  font-size: 0.92308rem;
  color: #434a54;
  line-height: 1.53846rem;
  position: relative;
  padding: 0 0 0 1.15385rem;
}
.rtl .product-information .product-description-short p, .rtl .product-information #product-description-short p {
  padding: 0 1.15385rem 0 0;
}
.product-information .product-description-short p:before, .product-information #product-description-short p:before {
  width: 0.38462rem;
  height: 0.38462rem;
  position: absolute;
  left: 0;
  top: 0.46154rem;
  background-color: #00cb8f;
  content: "";
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rtl .product-information .product-description-short p:before, .rtl .product-information #product-description-short p:before {
  right: 0;
  left: auto;
}

.product-information {
  font-size: 1.15385rem;
  color: #434a54;
}
.product-information .manufacturer-logo {
  height: 35px;
}

.input-color {
  position: absolute;
  opacity: 0;
  top: 10px;
  cursor: pointer;
  height: 1.53846rem;
  width: 1.53846rem;
}

.input-container {
  position: relative;
}

.input-radio {
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.input-color:checked + span, .input-color:hover + span,
.input-radio:checked + span,
.input-radio:hover + span {
  border: 2px solid #434a54;
}

.radio-label {
  box-shadow: 0 2px 3px 0 rgba(168, 172, 185, 0.1);
  background: white;
  display: inline-block;
  padding: 0.15385rem 0.76923rem;
  font-weight: 600;
  border: 2px solid white;
}

.product-actions .control-label {
  line-height: 3.07692rem;
  margin: 0 1.53846rem 0 0;
  font-size: 0.92308rem;
  float: left;
  display: inline-block;
  line-height: 44px;
}
.rtl .product-actions .control-label {
  margin: 0 0 0 1.53846rem;
}
.rtl .product-actions .control-label {
  float: right;
}
.product-actions .add-to-cart {
  height: 3.38462rem;
  line-height: inherit;
  padding-top: 0.76923rem;
  background-color: #00cb8f;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.3s all ease-out 0s;
  -o-transition: 0.3s all ease-out 0s;
  transition: 0.3s all ease-out 0s;
}
.product-actions .add-to-cart:hover {
  background-color: #434a54;
}

.product-add-to-cart {
  margin-bottom: 30px;
  padding-bottom: 7px;
  border-bottom: 1px solid #e4e9ef;
}

.product-quantity .qty {
  float: left;
  width: 9.23077rem;
  margin-bottom: 0.61538rem;
}
.product-quantity .add {
  float: left;
  margin-bottom: 0.61538rem;
}
.product-quantity #quantity_wanted {
  color: #434a54;
  background-color: white;
  height: 3.38462rem;
  padding: 0.175rem 0.5rem;
  width: 6.15385rem;
  float: left;
}
.rtl .product-quantity #quantity_wanted {
  float: right;
}
.product-quantity .input-group-btn-vertical {
  float: left;
}
.rtl .product-quantity .input-group-btn-vertical {
  float: right;
}
.product-quantity .input-group-btn-vertical .btn {
  padding: 0.61538rem 0.84615rem;
}
.product-quantity .input-group-btn-vertical .btn i {
  font-size: 1.23077rem;
  top: 0.15385rem;
  left: 0.23077rem;
}
.product-quantity .btn-touchspin {
  height: 1.76923rem;
}

.product-discounts > .product-discounts-title {
  font-weight: normal;
  font-size: 1.07692rem;
}
.product-discounts > .table-product-discounts thead tr th {
  width: 33%;
  padding: 0.76923rem 1.53846rem;
  background: white;
  border: 0.38462rem #ebebeb solid;
  text-align: center;
}
.product-discounts > .table-product-discounts tbody tr {
  background: #f6f6f6;
}
.product-discounts > .table-product-discounts tbody tr:nth-of-type(even) {
  background: white;
}
.product-discounts > .table-product-discounts tbody tr td {
  padding: 0.76923rem 1.53846rem;
  text-align: center;
  border: 0.38462rem #ebebeb solid;
}

.product-prices {
  margin: 30px 0;
}
.product-prices .tax-shipping-delivery-label {
  font-size: 1rem;
  color: #878787;
}

.product-discount {
  color: #acaaa6;
}
.product-discount .regular-price {
  text-decoration: line-through;
  font-weight: normal;
  margin: 0 1.53846rem 0 0;
  font-size: 2rem;
}
.rtl .product-discount .regular-price {
  margin: 0 0 0 1.53846rem;
}

.has-discount .discount {
  color: #00cb8f;
  font-weight: 400;
  padding: 0 0.76923rem;
  font-size: 1.5rem;
  margin: 0 0 0 0.76923rem;
  display: inline-block;
}
.rtl .has-discount .discount {
  margin: 0 0.76923rem 0 0;
}

.product-unit-price {
  font-size: 1rem;
  margin-bottom: 0;
}

.tabs {
  border-top: 1px solid #e4e9ef;
  margin: 9.23077rem 0 2.46154rem 0;
  background: white;
  padding: 1.53846rem 0;
}
@media (max-width: 991px) {
  .tabs {
    margin-top: 3rem;
  }
}
.tabs .tab-pane {
  padding-top: 1.53846rem;
}
.tabs .nav-tabs {
  border: none;
}
.tabs .nav-tabs .nav-link {
  color: #aab2bd;
  font-weight: normal;
  font-size: 1.23077rem;
  padding: 0;
  border: none;
}
.tabs .nav-tabs .nav-link.active, .tabs .nav-tabs .nav-link:hover {
  color: #434a54;
  background-color: transparent;
}
.tabs .nav-tabs .nav-item {
  float: left;
  margin: 0 3.07692rem 0 0;
}
.rtl .tabs .nav-tabs .nav-item {
  float: right;
}
.rtl .tabs .nav-tabs .nav-item {
  margin: 0 0 0 3.07692rem;
}

.product-cover {
  margin-bottom: 1.53846rem;
  position: relative;
}
.product-cover img {
  background: white;
}
.product-cover .layer {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  cursor: pointer;
  -webkit-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}
.product-cover .layer:hover {
  opacity: 1;
}
.product-cover .layer .zoom-in {
  font-size: 7.69231rem;
  color: white;
}

#product-modal .modal-content {
  background: transparent;
  border: none;
  padding: 0;
}
#product-modal .modal-content .modal-body {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30%;
}
#product-modal .modal-content .modal-body .product-cover-modal {
  background: white;
}
#product-modal .modal-content .modal-body .image-caption {
  background: white;
  width: 800px;
  padding: 0.76923rem 1.53846rem;
  border-top: #ebebeb 1px solid;
}
#product-modal .modal-content .modal-body .image-caption p {
  margin-bottom: 0;
}
#product-modal .modal-content .modal-body .thumbnails {
  position: relative;
}
#product-modal .modal-content .modal-body .mask {
  position: relative;
  overflow: hidden;
  max-height: 60.76923rem;
  margin-top: 2.69231rem;
  z-index: 1;
}
#product-modal .modal-content .modal-body .mask.nomargin {
  margin-top: 0;
}
#product-modal .modal-content .modal-body .product-images {
  margin-left: 3.07692rem;
}
#product-modal .modal-content .modal-body .product-images img {
  width: 11.38462rem;
  cursor: pointer;
  background: white;
  max-width: none;
}
#product-modal .modal-content .modal-body .product-images img:hover {
  border: #293f85 3px solid;
}
#product-modal .modal-content .modal-body .arrows {
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  color: white;
  right: 2.30769rem;
  z-index: 0;
  cursor: pointer;
}
#product-modal .modal-content .modal-body .arrows .arrow-up {
  position: absolute;
  top: -.3rem;
  opacity: 0.2;
}
#product-modal .modal-content .modal-body .arrows .arrow-down {
  position: absolute;
  bottom: -.3rem;
}
#product-modal .modal-content .modal-body .arrows i {
  font-size: 7.69231rem;
  display: inline;
}

#blockcart-modal {
  color: #434a54;
}
#blockcart-modal .modal-header {
  background: #4cbb6c;
}
#blockcart-modal .modal-body {
  background: #ebebeb;
  padding: 3.84615rem 2.30769rem;
}
#blockcart-modal .modal-body .divide-right span {
  display: inline-block;
  margin-bottom: 0.38462rem;
}
#blockcart-modal .modal-dialog {
  max-width: 1140px;
  width: 100%;
}
#blockcart-modal .product-image {
  width: 16.15385rem;
}
#blockcart-modal .modal-title {
  font-weight: 600;
  color: white;
  font-size: 1.38462rem;
}
#blockcart-modal .modal-title i.material-icons {
  margin-right: 2.30769rem;
}
#blockcart-modal .product-name {
  color: #293f85;
  font-size: 1.38462rem;
}
#blockcart-modal .cart-products-count {
  font-size: 1.38462rem;
}
#blockcart-modal .cart-content {
  padding-left: 3.07692rem;
}
#blockcart-modal .cart-content button {
  margin-right: 0.38462rem;
}
#blockcart-modal .divide-right {
  border-right: #acaaa6 1px solid;
}

.product-images {
  text-align: center;
}
.product-images > li.thumb-container {
  display: inline;
}
.product-images > li.thumb-container > .thumb {
  cursor: pointer;
  margin-bottom: 0.76923rem;
}
.images-container .product-images > li.thumb-container > .thumb {
  margin-right: 1rem;
}
.product-images > li.thumb-container > .thumb.selected, .product-images > li.thumb-container > .thumb:hover {
  border: #00cb8f 1px solid;
}

#main .images-container .js-qv-mask {
  white-space: nowrap;
  overflow: hidden;
}
#main .images-container .js-qv-mask.scroll {
  width: 260px;
  margin: 0 auto;
}
@media (max-width: 575px) {
  #main .images-container .js-qv-mask.scroll {
    width: 180px;
  }
}

.scroll-box-arrows {
  display: none;
}
.scroll-box-arrows.scroll {
  display: block;
}
.scroll-box-arrows i {
  position: absolute;
  bottom: 2rem;
  height: 80px;
  line-height: 100px;
  cursor: pointer;
}
.scroll-box-arrows .left {
  left: 0;
}
.scroll-box-arrows .right {
  right: 0;
}

#product-availability {
  display: inline-block;
  font-weight: 400;
  margin-top: 0.76923rem;
}
#product-availability .material-icons {
  line-height: inherit;
}
#product-availability .product-available {
  color: #4cbb6c;
}
#product-availability .product-unavailable {
  color: #ff9a52;
}
#product-availability .product-last-items {
  color: #ff9a52;
}

#product-details .label {
  font-size: 1rem;
  color: #434a54;
  font-weight: bold;
}

.product-features {
  margin-top: 1.53846rem;
  margin-left: 0.38462rem;
}
.product-features > dl.data-sheet {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}
.product-features > dl.data-sheet dd.value,
.product-features > dl.data-sheet dt.name {
  -webkit-flex: 1 0 40%;
  -moz-flex: 1 0 40%;
  -ms-flex: 1 0 40%;
  flex: 1 0 40%;
  font-weight: normal;
  background: #ebebeb;
  padding: 0.76923rem;
  margin-right: 0.76923rem;
  min-height: 3.07692rem;
  word-break: break-all;
}
.product-features > dl.data-sheet dd.value:nth-of-type(even),
.product-features > dl.data-sheet dt.name:nth-of-type(even) {
  background: #f6f6f6;
}
.product-features > dl.data-sheet dt.name {
  text-transform: capitalize;
}

.product-variants {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e4e9ef;
}
.product-variants > .product-variants-item {
  margin: 0 2.30769rem 0 0;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.rtl .product-variants > .product-variants-item {
  margin: 0 0 0 2.30769rem;
}
.rtl .product-variants > .product-variants-item {
  float: right;
}
.product-variants > .product-variants-item select {
  height: 3.07692rem;
  min-width: 9.23077rem;
}
.product-variants > .product-variants-item ul {
  margin: 0;
}
.product-variants > .product-variants-item ul li {
  margin-right: 0.76923rem;
}
.product-variants > .product-variants-item .color {
  margin: 0.76923rem 0 0;
}

.product-flags {
  position: absolute;
  top: 0;
  width: 100%;
}

li.product-flag {
  display: block;
  position: absolute;
  background: #293f85;
  font-weight: 700;
  padding: 0.38462rem 0.53846rem;
  color: white;
  margin-top: 0.76923rem;
  margin-left: -0.38462rem;
  z-index: 2;
  display: block;
}
li.product-flag.online-only {
  top: 30.76923rem;
  right: 0;
  font-size: 1rem;
}
li.product-flag.online-only::before {
  content: "\E30A";
  font-family: 'Material Icons';
  vertical-align: middle;
  margin: 0.38462rem;
}
li.product-flag.discount {
  display: none;
}
li.product-flag.new {
  display: block;
}
li.product-flag.on-sale {
  background: #f39d72;
  width: 100%;
  text-align: center;
  margin: 0;
  left: 0;
  top: 0;
}

.product-customization {
  box-shadow: 0 2px 3px 0 rgba(168, 172, 185, 0.1);
  margin: 3.07692rem 0;
}
.product-customization .product-customization-item {
  margin: 1.53846rem 0;
}
.product-customization .product-message {
  background: #ebebeb;
  border: none;
  width: 100%;
  height: 3.84615rem;
  resize: none;
  padding: 0.76923rem;
  /* @include placeholder {
    color: $gray;
  } */
}
.product-customization .file-input {
  width: 100%;
  opacity: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  height: 3.23077rem;
  overflow: hidden;
  position: absolute;
}
.product-customization .custom-file {
  position: relative;
  background: #ebebeb;
  width: 100%;
  height: 3.23077rem;
  line-height: 3.23077rem;
  text-indent: 0.76923rem;
  display: block;
  color: #acaaa6;
  margin-top: 1.53846rem;
}
.product-customization .custom-file button {
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.product-customization small {
  color: #acaaa6;
}

.product-pack {
  margin-top: 3.07692rem;
}
.product-pack .pack-product-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}
.product-pack .pack-product-container .pack-product-name {
  -webkit-flex: 0 0 50%;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  font-size: 1.07692rem;
  color: #acaaa6;
}
.product-pack .pack-product-container .pack-product-quantity {
  border-left: #ebebeb 2px solid;
  padding-left: 0.76923rem;
}
.product-pack .pack-product-container .pack-product-name,
.product-pack .pack-product-container .pack-product-price,
.product-pack .pack-product-container .pack-product-quantity {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.product-refresh {
  margin-top: 1.53846rem;
}

.social-sharing {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  margin-top: 1.84615rem;
}
.social-sharing > span {
  font-size: 0.92308rem;
  margin: 0 2.30769rem 0 0;
}
.rtl .social-sharing > span {
  margin: 0 0 0 2.30769rem;
}
.social-sharing ul {
  margin-bottom: 0;
}
.social-sharing li {
  height: 3.07692rem;
  width: 3.07692rem;
  border-radius: 50%;
  display: inline-block;
  background-color: transparent;
  border: 1px solid #aab2bd;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: 2.15385rem 2.15385rem;
  background-position: 0.30769rem 0.30769rem;
  cursor: pointer;
  margin-left: 0.61538rem;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.social-sharing li a {
  display: block;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}
.social-sharing li a:hover {
  color: transparent;
}
.social-sharing li:hover {
  border-color: #2FB5D2;
}

.products-selection {
  margin-bottom: 1.53846rem;
}
.products-selection .title {
  color: #878787;
}

#blockcart-modal .cart-content .btn {
  margin-bottom: 0.76923rem;
}

@media (max-width: 991px) {
  .product-cover img {
    width: 100%;
  }

  #product-modal .modal-content .modal-body {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    margin-left: 0;
  }
  #product-modal .modal-content .modal-body img.product-cover-modal {
    width: 100%;
  }
  #product-modal .modal-content .modal-body .arrows {
    display: none;
  }

  #product-modal .modal-content .modal-body .image-caption {
    width: 100%;
  }

  #blockcart-modal .modal-dialog {
    width: calc(100% - 20px);
  }
  #blockcart-modal .modal-body {
    padding: 2.30769rem;
  }
}
@media (max-width: 767px) {
  #blockcart-modal .divide-right {
    border-right: none;
  }
  #blockcart-modal .modal-body {
    padding: 1.23077rem;
  }
}
.relatedproduct {
  background-color: #F0F3F8;
}
.relatedproduct .ps_categoryproducts {
  margin: 0;
  padding: 3.84615rem 1.15385rem 2.69231rem;
}
@media (min-width: 992px) {
  .relatedproduct .ps_categoryproducts {
    padding: 9.23077rem 1.15385rem 7.69231rem 1.15385rem;
  }
}

.product-info-top {
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e4e9ef;
}
.product-info-top label, .product-info-top .label {
  font-size: 0.92308rem;
  margin: 0 1.53846rem 0 0;
  text-align: left;
}
.rtl .product-info-top label, .rtl .product-info-top .label {
  margin: 0 0 0 1.53846rem;
}
.rtl .product-info-top label, .rtl .product-info-top .label {
  text-align: right;
}

.list-brands li {
  display: inline-block;
  width: 100%;
  margin-bottom: 2.30769rem;
}
.list-brands li .brand-infos h2 {
  font-family: "Abhaya Libre";
  text-shadow: none;
}

#manufacturer .page-header, #supplier .page-header {
  text-align: left;
  margin-bottom: 0 !important;
}
.rtl #manufacturer .page-header, .rtl #supplier .page-header {
  text-align: right;
}
