/* line 1, panel.scss */
.colorpicker {
  z-index: 9999999 !important;
}

/* line 4, panel.scss */
.paneltool .buttons-group button {
  font-size: 11px !important;
  font-family: arial !important;
  padding: 8px 12px;
  font-weight: bold;
}

/* line 10, panel.scss */
.paneltool input, .paneltool select, .paneltool label {
  font-size: 11px;
  padding: 3px 4px;
  display: inline-block;
  font-family: arial !important;
}

/* line 17, panel.scss */
.paneltool input,
.paneltool select {
  width: 120px;
  border: solid 1px #f3f3f3;
}

/* line 23, panel.scss */
.paneltool .clear-bg span {
  font-size: 15px;
  margin-left: 5px;
}

/* line 27, panel.scss */
.buttons-group {
  padding: 6px 12px;
}

/* line 30, panel.scss */
.pts-paneltool {
  position: fixed;
  top: 0px;
  transition: all 0.6s;
  -webkit-box-shadow: 1px -1px 3px #888888;
  box-shadow: 1px -1px 3px #888888;
  z-index: 9999;
  width: 320px;
  height: 100%;
  background: #FFF;
  left: -320px;
  font-size: 11px;
}

/* line 45, panel.scss */
.pts-paneltool > .paneltool {
  position: relative;
  clear: both;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 56, panel.scss */
.paneltool label {
  width: 120px;
  font-size: 11px;
  font-family: arial !important;
}

/* line 62, panel.scss */
.pts-paneltool.active {
  left: 0;
  z-index: 999999;
}

/* line 67, panel.scss */
.paneltool.active .panelbutton {
  color: red;
}

/* line 75, panel.scss */
.paneltool .panel-group .panel-heading {
  padding: 4px 5px;
}

/* line 78, panel.scss */
.paneltool .panel-title {
  font-size: 11px;
  padding: 2px 12px;
  font-weight: bold;
}

/* line 87, panel.scss */
.pts-customize .bi-wrapper > div {
  float: left;
  width: 25px;
  height: 25px;
  margin: 5px 6px;
  border: solid 1px #999;
  cursor: hand;
  cursor: pointer;
}
/* line 94, panel.scss */
.pts-customize .bi-wrapper > div.active {
  border-color: red;
}
/* line 98, panel.scss */
.pts-customize .nav-tabs {
  background: #5f6873;
  text-align: center;
  border-bottom: solid 3px #FFF;
}
/* line 102, panel.scss */
.pts-customize .nav-tabs li {
  float: none;
  display: inline-block;
}
/* line 105, panel.scss */
.pts-customize .nav-tabs li a {
  background: #95a0a8;
  color: #3d3d3d !important;
  font-family: arial !important;
  border: none;
  padding: 6px 8px;
  text-transform: uppercase;
}
/* line 112, panel.scss */
.pts-customize .nav-tabs li a.active {
  background: #FFF !important;
}
/* line 118, panel.scss */
.pts-customize .tab-content {
  padding: 15px;
}

/***/
/* line 125, panel.scss */
#customize-form .nav-tabs {
  padding-top: 12px;
}

/* line 128, panel.scss */
#customize-form .nav-tabs li {
  margin: 0;
  padding: 0 !important;
}

/* line 133, panel.scss */
#customize-form .nav-tabs > li > a {
  padding: 5px 6px;
  font-size: 11px;
}

/* line 137, panel.scss */
#custom-accordionelements .panel,
#custom-accordionselectors .panel {
  margin-bottom: 5px;
}

/***/
/* line 144, panel.scss */
.themecollection.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* line 148, panel.scss */
.themecollection > div {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 153, panel.scss */
.themecollection > div > div {
  background: #FFF;
  border: solid 2px #CCC;
  float: left;
}

/* line 161, panel.scss */
.themecollection > div.active > div {
  border-color: #d9534f;
}

/* line 164, panel.scss */
#panethemesettingfrm .pts-paneltitle {
  font-size: 16px;
  margin-bottom: 10px;
}

/* line 170, panel.scss */
.pts-panelbutton {
  border: solid 1px #152c25;
  background: #152c25;
  color: #FFF;
  padding: 16px 20px;
  position: absolute;
  right: -51px;
  top: 30%;
  border-left: none;
  cursor: hand;
  cursor: pointer;
  -webkit-box-shadow: 2px -1px 2px #888888;
  box-shadow: 2px -1px 2px #152c25;
}

/**
 *
 */
/**
 *
 */
/* line 192, panel.scss */
.themechanger .pts-panelbutton {
  top: 36%;
  background: #d9534f;
  border-color: #d9534f;
}

/**
 *
 */
/* line 201, panel.scss */
#pts-paneltool {
  background: #5f6873;
  left: -321px;
}
/* line 202, panel.scss */
#pts-paneltool .pts-panelbutton {
  border: solid 1px #152c25;
  background: #152c25;
  color: #FFF;
  padding: 16px 20px;
  position: absolute;
  right: -51px;
  top: 25%;
  border-left: none;
  cursor: hand;
  cursor: pointer;
  -webkit-box-shadow: 2px -1px 2px #888888;
  box-shadow: 2px -1px 2px #152c25;
}
/* line 217, panel.scss */
#pts-paneltool .pts-customize-title {
  background: rgba(42, 58, 71, 0.75);
  font-weight: bold;
  padding: 12px 12px;
  color: #f3f3f3;
  font-size: 11px;
  text-transform: uppercase;
  text-shadow: none;
}
/* line 228, panel.scss */
#pts-paneltool.active {
  left: 0;
}
/* line 230, panel.scss */
#pts-paneltool.active .pts-panelbutton {
  border: solid 1px #FFF;
  background: #FFF;
  color: #152c25;
}
/* line 236, panel.scss */
#pts-paneltool .nav-tabs {
  background: #5f6873;
  text-align: center;
  border-bottom: solid 3px #FFF;
}
/* line 240, panel.scss */
#pts-paneltool .nav-tabs li {
  float: none;
  display: inline-block;
}
/* line 243, panel.scss */
#pts-paneltool .nav-tabs li a {
  background: #95a0a8;
  color: #3d3d3d !important;
  font-family: arial !important;
  border: none;
  padding: 6px 8px;
  text-transform: uppercase;
}
/* line 250, panel.scss */
#pts-paneltool .nav-tabs li a.active {
  background: #FFF !important;
}
/* line 259, panel.scss */
#pts-paneltool .card {
  margin-bottom: 0;
  border: none;
}
/* line 264, panel.scss */
#pts-paneltool .p-card-header {
  font-weight: bold;
  background: #5f6873;
  padding: 10px 20px;
  border-radius: none;
  transition: all 0.5s ease;
  border-bottom: solid 1px #68717c;
}
/* line 269, panel.scss */
#pts-paneltool .p-card-header a {
  color: #FFF !important;
  font-family: arial !important;
}
/* line 275, panel.scss */
#pts-paneltool .p-card-header:hover {
  background: #95a0a8;
  transition: all 0.5s ease;
}
/* line 280, panel.scss */
#pts-paneltool .card-block {
  background: #FFF;
}

/* line 285, panel.scss */
.editortool-title {
  background: #374652;
  font-weight: bold;
  padding: 15px;
  color: #f3f3f3;
  font-size: 11px;
  text-transform: uppercase;
  text-shadow: none;
  margin-bottom: 0;
}

/* line 295, panel.scss */
.profiles-selectors {
  padding: 5px 12px;
  min-height: 30px;
  color: #000;
}
/* line 299, panel.scss */
.profiles-selectors .profile-item {
  display: none;
  width: 100%;
  position: relative;
  height: 30px;
  background: #FFF;
  margin-bottom: 1px;
  border: solid 3px #3d3d3d;
  cursor: pointer;
  cursor: hand;
  clear: both;
}
/* line 308, panel.scss */
.profiles-selectors .profile-item:hover, .profiles-selectors .profile-item.active {
  border-color: #FFF;
}
/* line 311, panel.scss */
.profiles-selectors .profile-item.active {
  display: block;
}
/* line 314, panel.scss */
.profiles-selectors .profile-item > div {
  width: 30px;
  height: 100%;
  float: left;
  color: #3d3d3d;
}
/* line 322, panel.scss */
.profiles-selectors .profile-item .profile-name {
  float: right;
  line-height: 29px;
  width: auto;
  padding-left: 12px;
  padding-right: 12px;
  position: absolute;
  right: 0;
  background: #FFF;
  font-family: arial !important;
}
/* line 334, panel.scss */
.profiles-selectors:hover .profile-item {
  display: block;
}
